<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
		<title>ReactJS Template</title>		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.2/react.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/15.6.2/react-dom.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.31.5/react-bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.38/browser.min.js"></script>
    </head>
    <body>
        <div id="hello"></div>
		<script type="text/babel">
			var Panel = ReactBootstrap.Panel;  // npm install --save react-bootstrap

			ReactDOM.render(
			<Panel>Hello, world!</Panel>,
			document.getElementById('hello')
			);
		</script>
    </body>
</html>
